body{
    background: linear-gradient(to bottom, #AAF5FF, #4C69FF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "VT323", monospace;
}

html, body{
  height: 100%;
  margin: 0;
}

.snake-background{
  background-image: url('./images/snake-background.png');
  background-size: cover;
}