body{
    background: linear-gradient(to bottom, #AAF5FF, #4C69FF);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "VT323", monospace;
    font-weight:100;
}

.internet-icon{
    margin-left: 10px;
    margin-right: 10px;
    width: clamp(30px, 3vw, 300px);
}

.grid-container{
    margin: 2%;
    margin-right: 3%;
    display: grid;
    grid-template-rows: 33% 27.5% 40%;
    grid-template-columns: 31% 31% 37%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}

.post-it{
    grid-area: 1 / 1 / 3 / 2;
    background-color: #FFFA89;
    padding-left: 9%;
}

.skills-no-clippy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-caption{
    text-align: center;
}

.textbubble{
    grid-area: 1 / 2 / 2 / 4;
    background-color: blue;
    margin-left: 5%;
    padding-left: 5%;
}

.clippy{
    grid-area: 2 / 2 / 3 / 3;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.links{
    grid-area: 3 / 1 / 4 / 2;
    background-color: orange;
    width: 100%;
}

.minesweeper{
    grid-area: 3 / 2 / 4 / 3;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.my-picture{
    grid-area: 2 / 3 / 4 / 4;
    width: 100%;
}

