body{
    background: linear-gradient(to bottom, #AAF5FF, #4C69FF);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "VT323", monospace;
    font-weight:100;
}

h1{
    font-size: 2.2vw;
}

h2{
    font-size: 1.7vw;
}

h1, h2{
    text-align: left;
}

.top-row{
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    height: 100%;
}

.internet-icon{
    margin: 10px;
    width: clamp(30px, 3vw, 300px);
}

.post-it{
    background: #FFFA89;
    padding: 0.5% 3% 0.5% 3%;
    margin-right: 3%;
    margin-left: 5%;
    flex-grow: 1;
}

.my-picture{
    height: 300px;
}

.clippy{
    padding-left: 5%;
    width: 15vw;
}

.skills{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.skills h2{
    margin: 1% 2% 1% 2%;
}

.skills-no-clippy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5%;
}

.dynamic-image{
    width: clamp(30px, 5vw, 300px);
    margin-top: 2%;
}

.image-caption{
    margin-top: 1%;
    font-size: clamp(10px, 1.7vw, 300px);
}

.textbubble{
    background-image: url(./images/text-bubble-background.png);
    background-repeat: no-repeat;
    background-size:100%;
}

.image-caption-container{
    text-align: center;
}